{% extends 'base.html' %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
{#        <div class="row">#}
{#            <div class="col text-center">#}
{#                <h1>{{ pagename }}</h1>#}
{#                <hr>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col text-center mt-4 mb-0">
                <h1 class="display-6 text-dark">{{ country_info.count }} languages of <span class="text-secondary">{{ pagename }}</span></h1>
                <hr class="w-50 mx-auto">
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="text-start w-100" style="max-width: 300px;">
                    {% if country_info.error %}
                            <a class="nav-link" href="{% url 'countries_list' %}">
                                <div class="alert alert-warning">{{ country_info.error }}</div>
                            </a>
                    {% else %}
                        <ul class="mt-4" >
                        {% for language in languages %}
                            <li>{{ language }}</li>
                        {% empty %}
                            <div class="alert alert-warning">
                                No languages data available.
                            </div>
                        {% endfor %}
                        </ul>
                        <button class="btn btn-secondary mb-3" onclick="goBack()">
                            &larr; backward
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script>
        function goBack() {
            if (document.referrer) {
                history.back();
            } else {
                window.location.href = "/countries-list/";
            }
        }
    </script>
{% endblock %}