{% extends 'base.html' %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>Добро пожаловать, уважаемый пользователь!
                <hr>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4 offset-4">
                TEST
            </div>
        </div>

        <div class="row mt-3">
            TEST2
        </div>
    </div>
{% endblock %}