{% extends 'base.html' %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4 mb-0">
                <h1 class="display-6 text-dark"><span class="text-secondary">{{ pagename }}</span> language in {{ language_info.count }} countries</h1>
                <hr class="w-50 mx-auto">
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="text-start w-100" style="max-width: 300px;">
                    {% if language_info.error %}
                            <a class="nav-link" href="{% url 'languages_list' %}">
                                <div class="alert alert-warning">{{ language_info.error }}</div>
                            </a>
                    {% else %}
                        <ul class="mt-4" >
                        {% for countries in language_in_countries %}
                            <li>{{ countries }}</li>
                        {% empty %}
                            <div class="alert alert-warning">
                                No countries data available.
                            </div>
                        {% endfor %}
                        </ul>
                        <button class="btn btn-secondary mb-3" onclick="goBack()">
                            &larr; backward
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script>
        function goBack() {
            if (document.referrer) {
                history.back();
            } else {
                window.location.href = "/languages_list/";
            }
        }
    </script>
{% endblock %}